div.text {
  font-size:: 25px;
  font-weight: 300;
  font-family: "Courier New", Courier, monospace;
  position: relative;;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
  text-align: center;
}

div.number {
  font-size: 35px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
  text-align: center;
}

#image {
  position: relative;
  text-align: center;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;

}
